.body{
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mainCover{
    padding:10px;
    margin-top: 5px;

    border: 20px solid #c7c6c6;
    align-items: center;
}
.img-fluid {
    max-width: 100%;
    height: fit-content;
}
.cover {
    position: absolute;;
    vertical-align: top;
    padding-top: 10px;
    margin: 0;
    z-index: 0.5;
    width: 637px;
    height: 150px;
    opacity: 0.9;
    margin-left: 40%;
}
.mainText{
    position: relative;
    width: 400px;
    height: 200px;
    margin-top: 282px;
    margin-bottom: 0px;
    margin-left: -1px;
    background-color: #FAE4DA;
    opacity: 0.5;
}
.textCover{
    z-index: 4;
    text-align: center;
    padding: 25px;
}
.textCover h4 h2 p{
    text-align: center;
    font-weight: bold;
    color: #292626;
    padding-top: 5px;

}
.go-to {
    position: absolute;
    bottom: 28px;
    left: 0;
    right: 0;
    width: 35px;
    margin: auto;
    z-index: 1;
    text-align: center;
} 
.go-to a {
    width: 35px;
    height: 35px;
    position: relative;
    display: inline-block;
    background: #c7c6c6;
    border-radius: 50%;
    animation: down 1s linear infinite;
    -webkit-animation: down 1s linear infinite;
}
.go-to a span {
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  @-webkit-keyframes down {
    0% {
      top: 5px;
      opacity: 0;
    }
    30% {
      top: 15px;
      opacity: 1;
    }
    60% {
      top: 15px;
      opacity: 0.60;
    }
    100% {
      top: 25px;
      opacity: 0;
    }
  }
  @keyframes down {
    0% {
      top: 5px;
      opacity: 0;
    }
    30% {
      top: 15px;
      opacity: 1;
    }
    100% {
      top: 25px;
      opacity: 0;
    }
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color:#292626;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
#counting{
    height: 150px;
}
.counterCell{
    border-right: 2px solid #DEDDE3;
    margin-top: 10px;
    margin-bottom: 10px;
    border-start-end-radius: 20px;
    text-align: center;
    color:#8F7D73;
}
.counter{
    margin:10px;
    font-size: 48px;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-weight: 700;
    line-height: 1;
}
.countText{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#8F7D73;
    font-size: x-large;
}
#services{
    border: 1px solid #c7c6c6;
    position: relative;
}
.services-background{
    background-color: #FAE4DA;
}
.services-text{
    padding: 15px;
    color:#8F7D73;
    font-weight: bold;
}
.services-text h4{
    text-align: center;
    margin: 5px;
}
.services-photos{
    
    background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
    background-image: cross-fade(#ffffff);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.services-img{
    height: 300px;
}
.ser-img{
    width: 70px;
    height: 80px;
}
#gallery{
    padding: 5px;
}
.slider{
    display: inline-block;
}
.slider-box{
    position: relative;
    background-color:#8F7D73;
}
.slider-item{
    position: relative;
}
.slider-image{
    width: 250px;
    height: 250px;
    position: relative;
}
.slider-text{
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    color:#8F7D73;
    font-weight: 600;
    opacity: 1;
    text-align: center;
    align-items: center;
    padding-top: 30%;
    text-align: center;
}
.overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}
.overlay a:link{
    text-decoration: none;
    list-style: none;
}
.slider-box:hover .slider-image{
    opacity: 0.8;
}
.slider-box:hover .overlay{
    opacity: 1;
}
.show{
    display: inline-block;
}
.hide{
    display: none;
}
#testimonials{
    padding: 200px;
    border:2px solid red;
}
#contactUs{
    padding: 250px;
    border:2px solid black;
}